<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            <!-- org.hibernate.dialect.MySQLDialect -->
            org.hibernate.dialect.MariaDBDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
<!--            jdbc:mysql://localhost/thegame-->
            jdbc:mysql://localhost/myrpg
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            admin
        </property>

        <mapping class="models.DBmodels.Class" />
<!--        <mapping class="models.DBmodels._races.Race" />-->
        <mapping class="models.DBmodels.Inventory" />
        <mapping class="models.DBmodels.EffectToItem" />
        <mapping class="models.DBmodels.EffectToSkill" />
        <mapping class="models.DBmodels.EffectToUnit" />
        <mapping class="models.DBmodels.EquippedItem" />
        <mapping class="models.DBmodels.Item" />
        <mapping class="models.DBmodels.ItemToLocation" />
        <mapping class="models.DBmodels.ItemToSlot" />
        <mapping class="models.DBmodels.Location" />
        <mapping class="models.DBmodels.LocationToMap" />
        <mapping class="models.DBmodels.Map" />
        <mapping class="models.DBmodels.Mob" />
        <mapping class="models.DBmodels.Obstacle" />
        <mapping class="models.DBmodels.ObstacleToLocation" />
        <mapping class="models.DBmodels.Player" />
        <mapping class="models.DBmodels.Profile" />
        <mapping class="models.DBmodels.Race" />
        <mapping class="models.DBmodels.Skill" />
        <mapping class="models.DBmodels.SkillToClass" />
        <mapping class="models.DBmodels.Slot" />
        <mapping class="models.DBmodels.Unit" />
        <mapping class="models.DBmodels.UnitToSkill" />
        <mapping class="models.DBmodels.gameCharacter" />
        <mapping class="models.DBmodels.Effect" />

    </session-factory>
</hibernate-configuration>